<h1 class="section-header">Contact</h1> 
<h4 class="section-header sub-header">Fan? Drop a note!</h4>

<div class="contact-main-div container">
  <div class="row">
    <div class="contact-info col-xs-12 col-sm-6">
      <ul class="unstyled">
        <li><strong>Location:</strong> Bloemfontein, South Africa</li>
        <li><strong>Contact Number:</strong> +27 76 740 6439</li>
        <li><strong>Email:</strong> havingcows@gmail.com</li>
      </ul>
    </div> <!-- en contact info -->
    <div class="contact-form col-xs-12 col-sm-6">
      <%= flash[:notice] %>
      <%= form_tag("/static_pages/thank_you") do |form| %>
          <div class="form-group">
            <%= label_tag :name, "Name", class: "sr-only" %>
            <%= text_field_tag :name, nil, class: "form-control", placeholder: "Please enter your name." %>
          </div> <!-- end form-group -->
          <div class="form-group">
            <%= label_tag :email, "Email Address", class: "sr-only" %>
            <%= text_field_tag :email, nil, class: "form-control", placeholder: "Please enter your email address." %>
          </div>
          <div class="form-group">
            <%= label_tag :message, "Message", class: "sr-only" %>
            <%= text_area_tag :message, nil, class: "form-control", placeholder: "Give us your thoughts." %>
          </div>
      <%= submit_tag "Send", class: "btn" %>
      <% end %>
      </div>
    </div> <!-- end row -->
</div> <!-- end contact-main-div -->
<hr>