<div class="row">
  <div class="col-sm-6 col-md-3">
    <% cache product do %>
    <%= link_to image_tag(product.image_url, class: "product-image img-responsive img-thumbnail"), product %>
  </div>
  <div class="col-sm-6 col-md-9">
    <h4 class="funky-txt"><%= link_to product.name, product %></h4>
    <h4 class="funky-txt"><strong>R <%= product.price %></strong></h4>
    <p><%= product.description %></p>
    <p><strong>Colour:</strong> <%= product.colour %></p>
    <% end %> <!-- end cache -->
  </div> <!-- end col -->
  <% if user_signed_in? && current_user.admin? %>
    <h6>
     <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure'} %> |
     <%= link_to 'Edit', edit_product_path(product) %>
    </h6>    
  <% end %>
  <hr>
</div>