<p id="notice"><%= notice %></p>

<div class="container-fluid product-single-whole">
  <div class="row" data-product-id="<%= @product.id %>">
   <div class="col-xs-12 col-sm-3 product-img">
     <% cache @product do %>
     <% if @product.image_url %>
     <%= image_tag(@product.image_url, class: "img-responsive img-rounded img-zoom", data_img_zoom: @product.image_url) %>
     <% end %>
   </div>
   <div class="col-xs-12 col-sm-9 product-description">
    <h1><%= @product.name %></h1>
    <hr>
    <h3>R<%= @product.price %></h3>
    <hr>
    <h3>Colours: <%= @product.colour %></h3>
    <hr>
    <p><%= @product.description %></p>
    <p>Average Rating: <div id="average-rating" class="rated" data-score="<%= @product.average_rating %>"></div> </p>
    <% end %> <!-- end caching -->
    <!-- form for Stripe -->
    <%= form_tag('/payments/create') do %>
    <%= render partial: "shared/stripe_checkout_button" %>
    <%= hidden_field_tag(:product_id, @product.id) %>
    <% end %>
  </div>
</div> <!-- end row -->
</div>  <!-- end container -->

<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
<%= render 'new_comment' %>
<%= render 'comments' %>
<%= will_paginate @comments %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
